VITE_SUPABASE_URL=https://umfnkpcdrboyqpbzkriv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVtZm5rcGNkcmJveXFwYnprcml2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkyMDUwMzEsImV4cCI6MjEwNDc4MTAzMX0.2aZ6l1OZ0QcXXq-lCOQPZsEIJvv6VRIeq8_v8Hbxz00
